header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a {
        position: absolute;
        left: 20px;
        top: 15px;
        i {
            width: 20px;
            font-size: 20px;
            transition: transform 0.2s ease;
        }
        &:hover {
            i {
                transform: scale(1.3);
            }
        }
    }
}
