$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import "./global";
